@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import "tailwindcss";


@theme {
  --breakpoint-xs: 375px;
  --breakpoint-sm: 430px;
}

::selection{
  background:#78aeff;
  color: #ffff;
}

:root{
  
  --primary-color: #F9F9F9;
  --secondary-color: #181818;
  --tertiary-color: #686868;
  --border-color: #ededed;
  --dark-bg: #F6F6F6;


}
body {
  font-family: var(--font-inter-sans), sans-serif;
  color: var(--secodary-color);
  background: var(--primary-color);
  line-height: 1.2em;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
